<template>
  <div id="app">
    <canvas id="canvas" :width="state.appWidth" :height="state.appHeight" ref="canvas"></canvas>
  </div>
</template>

<script setup>
import {
  onMounted,
  reactive,
  ref
} from 'vue'

const colors = [
    'violet',
    'navajowhite',
    'sienna',
    'darkcyan'
]

const state = reactive({
  minBlockWidth: 10,
  maxBlockWidth: 90,
  minBlockHeight: 90,
  maxBlockHeight: 5,
  maxBlocks: 100000,
  appWidth: 10000,
  appHeight: 10000,
})

const arr = [ ...Array(state.maxBlocks).keys() ].map( i => i+1)
const blocks = ref(arr.map(u => {
  return {
    id: u,
    name: `name-${u}`,
    x: Math.floor(Math.random() * state.appWidth),
    y: Math.floor(Math.random() * state.appHeight),
    width: Math.floor(Math.random() * state.maxBlockWidth) + state.minBlockWidth,
    height: Math.floor(Math.random() * state.maxBlockHeight) + state.minBlockHeight,
    color: colors[Math.floor(Math.random() * colors.length)]
  }
}))

const canvas = ref()

onMounted(() => {

  if (canvas.value.getContext) {
    const ctx = canvas.value.getContext("2d");

    blocks.value.forEach((item) => {
      ctx.fillStyle = item.color;
      ctx.fillRect(item.x, item.y, item.width, item.height);
    })
  }

  function collides(rects, x, y) {
    var isCollision = false;
    for (var i = 0, len = rects.length; i < len; i++) {
      var left = rects[i].x, right = rects[i].x+rects[i].w;
      var top = rects[i].y, bottom = rects[i].y+rects[i].h;
      if (right >= x
          && left <= x
          && bottom >= y
          && top <= y) {
        isCollision = rects[i];
      }
    }
    return isCollision;
  }

  if (canvas.value && canvas.value.getContext) {
    const rects = blocks.value.map((block) => ({
      ...block,
      w: block.width,
      h: block.height
    }))
    const context = canvas.value.getContext('2d');
    if (context) {
      for (let i = 0, len = rects.length; i < len; i++) {
        context.fillStyle = rects[i].color;
        context.fillRect(rects[i].x, rects[i].y, rects[i].w, rects[i].h);
      }
    }

    canvas.value.addEventListener('click', function(e) {
      console.log('click: ' + e.offsetX + '/' + e.offsetY);
      const rect = collides(rects, e.offsetX, e.offsetY);
      if (rect) {
        alert(`x: ${rect.x}, y: ${rect.y}, width: ${rect.width}, height: ${rect.height}`)
      } else {
        console.log('no collision');
      }
    }, false);
  }
})

</script>

<style>

canvas {
  border: 1px dashed lightslategrey;
}
</style>
